<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" style="margin:20px;">

  <div fxFlex="70%" fxFlex.lt-sm="100%">
    <mat-card class="card-gap">
      <form #updateMyProfileForm="ngForm" (ngSubmit)="onSubmitUpdateProfile(updateMyProfileForm)">
        <mat-form-field class="input-full-size">
          <input matInput placeholder="Father Name" ngModel name="father_name" required type="text"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Father name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-size">
          <input matInput placeholder="Mother Name" ngModel name="mother_name" required type="text"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Mohter name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-size">
          <input matInput [matDatepicker]="picker" placeholder="Date of birth" ngModel name="dob"
            [errorStateMatcher]="matcher">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Date of birth is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-size">
          <input matInput placeholder="Marital Status" ngModel name="marital_status" required type="text"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Marital status is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" ngModel name="physically_challenged" required>
          <mat-radio-button value="0">I am normal</mat-radio-button>
          <mat-radio-button value="1">I am physically challenged</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="input-full-size">
          <input matInput placeholder="PAN Number" ngModel name="pan_num" type="text" [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            PAN number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-size">
          <input matInput placeholder="Aadhar Number" ngModel name="aadhar_num" required type="text"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Aadhar number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-size">
          <input matInput placeholder="Passport Number" ngModel name="passport_number" required type="text"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Passport is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-full-size">
          <input matInput placeholder="Driving License" ngModel name="driving_license" required type="text"
            [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Driving lisense is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
              (removed)="remove(fruit)">
              {{fruit}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
              {{fruit}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>

        <div fxLayout style="justify-content: flex-end;">
          <button mat-raised-button type="submit">Update</button>
        </div>
      </form>
    </mat-card>
  </div>

  <div fxFlex="30%" fxFlex.lt-sm="100%">
    <mat-card class="card-gap">Promotion Card 2</mat-card>
    <mat-card class="card-gap">Promotion Card 3</mat-card>
  </div>

</div>
