<mat-drawer-container style="height: 100vh;">
  <mat-drawer #drawer mode="side" position="start" autosize>
    <section style="padding: 10px;background-color: #404040;color: white;">
      <h3>Azhar Ameen</h3>
      <small>Senior Software Developer</small>
    </section>
    <mat-nav-list dense>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>assignment_ind</mat-icon> Recommendations <span matBadge="4" matBadgeOverlap="false"
          matBadgeColor="accent" matBadgePosition="after"></span>
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>account_circle</mat-icon> My Profile
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>info</mat-icon> Posted Jobs
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>settings</mat-icon> Settings
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>cloud_upload</mat-icon> Upgrade
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>ballot</mat-icon> Terms & Conditions
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>ballot</mat-icon> Privacy Policy
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>report</mat-icon> Feedback
      </a>
      <a mat-list-item href="javascript:void(0);">
        <mat-icon matListIcon>logout</mat-icon> Logout
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer #chatSection mode="side" position="end" [ngStyle.lt-sm]="{'width.%':100}" [ngStyle.gt-lg]="{'width.%':25}"
    opened>
    <app-chat-section (chatSectionToggler)="chatSection.toggle()"
      (drawerToggler)="chatSection.toggle();drawer.toggle()"></app-chat-section>

  </mat-drawer>

  <mat-drawer-content>


    <mat-sidenav-container>

      <mat-sidenav-content>
        <mat-toolbar color="primary">
          <a href="javascript:void(0);" mat-icon-button (click)="drawer.toggle()" matTooltip="Open Menu">
            <mat-icon>menu</mat-icon>
          </a>
          <a href="javascript:void(0);" mat-button>Atcerppu</a>
          <span class="nav-space"></span>
          <nav fxHide.lt-sm>
            <a routerLink="/recommendations" mat-button>Recommendations <span matBadge="4" matBadgeOverlap="false"
                matBadgeColor="accent" matBadgePosition="after"></span></a>
            <a routerLink="/view-my-profile" mat-button>My Profile</a>
            <a routerLink="/login" mat-button>Posted Jobs</a>
          </nav>
          <a href="javascript:void(0);" mat-icon-button (click)="chatSection.toggle()" matTooltip="Open Chat">
            <mat-icon>chat</mat-icon>
          </a>
        </mat-toolbar>

        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>

        <nav mat-tab-nav-bar fxHide fxShow.lt-sm>
          <a mat-tab-link routerLink="/recommendations" mat-button>Recommendations <span matBadge="4"
              matBadgeOverlap="false" matBadgeColor="accent" matBadgePosition="after"></span></a>
          <a mat-tab-link routerLink="/view-my-profile" mat-button>My Profile</a>
          <a mat-tab-link routerLink="/login" mat-button>Posted Jobs</a>
        </nav>


        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>


  </mat-drawer-content>

</mat-drawer-container>
